@import "../global/variables";
@import "../global/mixins";

.button {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &--transparent {
    background-color: transparent;
  }

  &--gray {
    color: #dddfe0;
    border-color: #dddfe0;
  }

  &--green {
    &:hover,
    &:focus {
      background-color: #1c9b5e;
      outline: none;
    }

    &:active {
      color: #7dbd99;
      background-color: #1c9b5e;
      transition-duration: 0s;
    }

    &:disabled {
      color: #ffffff;
      background-color: #e5e5e5;
    }
  }
}
