@import "../global/variables";
@import "../global/mixins";

.contacts {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: #ffffff;
}

.contacts__list {
  @include listStyle;
  padding: 6px 0 0 0;
}

.contacts__list-wrapper {
  margin: 28px 0 0;
}

.contacts__question {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.contacts__wrapper {
  @include container;
  padding: 45px 20px 40px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.contacts__description {
  margin: 5px 0 0;
  line-height: 1.2;
}

.contacts__link {
  color: #d22856;
  transition: color 0.3s;

  &:hover {
    color: #283645;
    border-bottom: 1px solid #283645;
  }

  &:active {
    color: #ced0d2;
    border-bottom: none;
    transition-duration: 0s;
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 48px 10px 28px;
  }

  .contacts__question {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
  }

  .contacts__list {
    padding: 45px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__list-wrapper {
    margin: 0 auto 51px;
    padding: 0 20px;
    width: 50%;

    &:last-child {
      margin: 0 auto;
    }
  }

  .contacts__title {
    margin: 0;
    padding: 0;
  }

  .contacts__description {
    margin: 8px 0 0;
    line-height: 1.2;
  }
}

//Деск

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding: 65px 0 0;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    padding: 59px 0 0 0;
  }

  .contacts__list-wrapper {
    margin: 0 auto 51px;
    padding: 0 22px 0 20px;
    width: 30%;

    &--call {
      order: -2;
    }

    &--mail {
      order: 0;
    }

    &--adress {
      order: -1;
    }
  }

  .contacts__question {
    font-size: 50px;
  }

  .contacts__description {
    margin: 28px 0 0;
  }
}
