@import "../global/variables";
@import "../global/mixins";

.diagram {
  display: none;
}

.diagram__container {
  @include container;
  padding: 40px 20px 0;
}

.diagram__wrapper {
  padding: 56px 0 0 9px;
  width: 320px;
}

.diagram__clock-wrapper {
  padding: 0 0 0 64px;
  width: 300px;
  background: url("../../img/icon-editor-diagram-fill.svg") no-repeat 18px 72px, url("../../img/icon-timer.svg") no-repeat 0 18px;
  background-size: 204px 204px, 240px 276px;
}

.diagram__hours {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  color: #d22856;
}

.diagram__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
}

.diagram__description {
  margin: 10px 0 14px;
  padding: 0;
}

.diagram__link {
  color: #d22856;
  text-decoration: underline;
}

//Таблетка

@media (min-width: $tablet-width) {
  .diagram {
    display: block;
  }

  .diagram__container {
    display: flex;
    justify-content: space-between;
  }
}

//Деск

@media (min-width: $desktop-width) {
  .diagram {
    background-color: #f2f2f2;
  }

  .diagram__container {
    padding: 6px 0 10px;
    justify-content: space-between;
  }

  .diagram__wrapper {
    padding: 114px 10px 10px 0;
    width: 585px;
  }

  .diagram__hours {
    font-size: 120px;
    line-height: 1.5;
  }

  .diagram__title {
    line-height: 1;
    color: #000000;

    br {
      display: none;
    }
  }

  .diagram__description {
    margin: 22px 0 33px;
    padding: 0;
    font-size: 18px;
    line-height: 1.7;
  }

  .diagram__link {
    font-size: 18px;
    line-height: 1.6;
  }

  .diagram__clock-wrapper {
    padding: 0 0 0 90px;
    width: 345px;
    background: url("../../img/icon-editor-diagram-fill.svg") no-repeat 32px 90px, url("../../img/icon-timer.svg") no-repeat 10px 20px;
    background-size: 252px 252px, 300px 345px;
  }
}
