.features {
  background: #f2f2f2 url("../../img/iphone-screen-mobile@1x.png") no-repeat center bottom;
  padding: 45px 20px 320px;
}

.features__header {
  background-color: #ffffff;
}

.features__title,
.features__caption {
  @include main-text(24px, auto, 300);
}

.feature-list__title {
  @include main-text(18px, 30px, 700);
}
