.form {
  background-color: #ffffff;
}

.form__field {
  padding: 40px 20px;
  border: none;

  .form__legend {
    line-height: 1.2;
    text-transform: uppercase;
  }

  &:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.form__caption {
  line-height: 2.1;
}

.form__label {
  line-height: 2.1;
  text-transform: uppercase;

  &:nth-child(even) {
    font-size: 18px;
    line-height: 1.6;
    text-transform: none;
  }
}

.form__input {
  font-size: 18px;
  line-height: 1.6;
}
