@import "../global/variables";
@import "../global/mixins";

.form {
  padding: 30px 0 0;
  background-color: #ffffff;
}

.form__button {
  padding: 18px 47px;
  line-height: 1.6;
  cursor: pointer;
}

.form__header {
  @include container;
}

.form__caption {
  padding: 0 20px 0;
  text-align: center;
  line-height: 2.1;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 0;
  display: none;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.form__list {
  @include listStyle;
}

.form__field-wrapper {
  &--achievement {
    padding: 40px 0 0 0;
    background-color: #f2f2f2;
  }

  &--app {
    padding: 40px 0 43px 0;
    background-color: #f2f2f2;
  }

  &--emotions {
    padding: 34px 0 0 0;
    background-color: #ffffff;
  }
}

.form__field {
  @include container;
  padding: 0 20px 42px;
  border: none;

  &--username {
    .form__item {
      margin: 21px 0 0 0;
    }

    .form__label {
      margin: 0 0 0 22px;
    }
  }

  &--achievement {
    text-align: center;

    .form__item {
      margin: 42px 0 0 0;
      padding: 6px 0;
      text-align: left;
    }
  }

  &--userdata {
    padding: 10px 20px 43px;

    .form__item {
      margin: 20px 0 0 0;
    }

    .form__label {
      margin: 0 0 0 22px;
    }

    .form__legend {
      display: none;
    }
  }

  &--app {
    padding: 0 40px 0;
    text-align: center;

    .form__item {
      margin: 35px 0 0 0;
      padding: 6px 0;
      text-align: left;
    }
  }

  &--emotions {
    .form__label {
      margin: 0 0 0 18px;
    }

    .form__comment {
      margin: 12px 0 0 0;
      padding: 16px 20px;
      width: 100%;
      min-height: 200px;
      font-size: 18px;
      line-height: 1.6;
      border: 2px solid #e5e5e5;
      transition: border-color 0.3s;

      &:hover {
        border: 2px solid #283645;
      }

      &:active,
      &:focus {
        border: 2px solid #d22856;
        outline: none;
      }
    }
  }
}

.form__legend {
  padding: 0 30px 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.form__label {
  line-height: 2.1;
  text-transform: uppercase;

  &:nth-child(even) {
    font-size: 18px;
    line-height: 1.6;
    text-transform: none;
  }
}

.form__input {
  margin: 5px 0 0 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  border: 2px solid #e5e5e5;
  transition: border-color 0.3s;

  &:hover {
    border: 2px solid #283645;
  }

  &:active,
  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }
}

.form__label-checkbox {
  padding: 0 0 0 70px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 39px;
    height: 39px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    transition: border-color 0.3s;
  }

  &:hover {
    &::after {
      border: 2px solid #283645;
    }
  }

  &:active,
  &:focus {
    outline: none;

    &::after {
      border: 2px solid #d22856;
    }
  }
}

.form__checkbox:checked + .form__label-checkbox::after,
.form__checkbox:active + .form__label-checkbox::after {
  background: #ffffff url("../../img/icon-checked.svg") no-repeat center;
}

.form__checkbox:checked:active + .form__label-checkbox::after {
  background-image: none;
}

.form__checkbox:focus + .form__label-checkbox::after {
  border-color: #283645;
}

.form__label-radio {
  padding-left: 50px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -18px;
    width: 36px;
    height: 36px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    transition: border-color 0.3s;
  }

  &:hover {
    &::after {
      border: 2px solid #283645;
    }
  }

  &:active,
  &:focus {
    outline: none;

    &::after {
      border: 2px solid #d22856;
    }
  }
}

.form__radio:checked + .form__label-radio::after,
.form__radio:active + .form__label-radio::after {
  background: #ffffff url("../../img/icon-map-marker.svg") no-repeat center;
  background-size: 100% 100%;
}

.form__radio:checked:active + .form__label-radio::after {
  background-image: none;
}

.form__radio:checked:focus + .form__label-radio::after {
  border-color: #283645;
}

.form__footer {
  @include container;
  padding: 0 20px 42px;
  text-align: center;
}

.form__warning {
  margin: 38px 0 0 0;
  text-transform: uppercase;
}

.form__warning-full {
  display: none;
}

//Таблетка

@media (min-width: $tablet-width) {
  .form {
    @include container;
    padding: 94px 20px 0;
  }

  .form__button {
    padding: 18px 58px;
  }

  .form__header {
    width: 620px;
  }

  .form__caption {
    margin: 0;
    padding: 0 30px 0;
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
  }

  .form__title {
    display: block;
  }

  .form__legend {
    text-align: center;
  }

  .form__field {
    width: 620px;
    padding: 0;

    &--username {
      margin: 23px 0 0 0;

      .form__item {
        margin: 51px 0 0 0;
      }

      .form__label {
        margin: 0 20px 0 0;
      }

      .form__input {
        margin: 0;
        padding: 15px 20px;
      }
    }

    &--app {
      padding: 0 0 60px;
      border: 2px solid #e5e5e5;

      .form__list {
        padding: 0 70px;
      }

      .form__item {
        margin: 48px 0 0 0;
        padding: 0;
      }
    }

    &--userdata {
      padding: 5px 58px 26px;
      border: 2px solid #e5e5e5;

      .form__item {
        position: relative;
        margin: 32px 0 0 0;
        display: flex;
        flex-direction: column-reverse;

        &--phone {
          &::before {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            display: block;
            width: 61px;
            height: 58px;
            background: #e5e5e5 url("../../img/icon-phone.svg") no-repeat center;
          }
        }

        &--mail {
          &::before {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            display: block;
            width: 61px;
            height: 58px;
            background: #e5e5e5 url("../../img/icon-mail.svg") no-repeat center;
          }
        }
      }

      .form__legend {
        display: block;
        text-align: center;
      }

      .form__label {
        margin: 0 0 0 20px;
        align-self: flex-start;
      }

      .form__input {
        margin: 0 0 11px;
        padding: 15px 70px 15px 20px;
      }
    }

    &--achievement {
      padding: 5px 48px 48px;
      border: 2px solid #e5e5e5;
    }

    &--emotions {
      padding: 20px 58px 45px;
      border: 2px solid #e5e5e5;

      .form__label {
        margin: 0;
      }

      .form__comment {
        min-height: 194px;
      }
    }
  }

  .form__field-wrapper {
    background: none;

    &--username {
      order: -3;
    }

    &--app {
      padding: 62px 0 0 0;
      order: -2;
    }

    &--userdata {
      padding: 58px 0 0 0;
      order: -1;
    }

    &--achievement {
      padding: 56px 0 0;
    }

    &--emotions {
      padding: 50px 0 0 0;
    }
  }

  .form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__label-checkbox {
    &::after {
      top: -5px;
      left: 10px;
    }
  }

  .form__label-radio {
    padding-left: 48px;

    &::after {
      top: -2px;
      left: -10px;
      width: 39px;
      height: 39px;
    }
  }

  .form__footer {
    padding: 67px 0 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;

    .form__warning {
      margin: 0;
    }
  }
}

//Деск

@media (min-width: $desktop-width) {
  .form {
    @include container;
    padding: 92px 10px 0;
  }

  .form__header {
    width: 940px;
  }

  .form__title {
    display: inline-block;
  }

  .form__caption {
    width: 100%;
    padding: 0 50px 0;
  }

  .form__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__field-wrapper {
    &--app {
      padding: 72px 0 0 0;
    }

    &--userdata {
      padding: 58px 0 0 0;
    }

    &--achievement {
      padding: 58px 0 0;
    }

    &--emotions {
      padding: 50px 0 0 0;
    }
  }

  .form__field {
    width: 940px;

    &--achievement {
      padding: 5px 48px 54px;

      .form__item {
        min-width: 230px;

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 1;
        }

        &:nth-child(4) {
          margin-left: 30px;
          order: 4;
        }

        &:nth-child(5) {
          order: 2;
        }

        &:nth-child(6) {
          order: 5;
        }
      }

      .form__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    &--username {
      margin: 28px 0 0 0;
      width: 435px;

      .form__item {
        margin: 55px 0 0 0;
      }
    }

    &--app {
      width: 435px;

      .form__list {
        padding: 0 86px;
      }
    }

    &--userdata {
      padding: 5px 58px 12px;

      .form__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .form__item {
        width: 374px;
      }

      .form__label {
        margin: 0 0 0 20px;
        align-self: flex-start;
      }

      .form__input {
        margin: 0 0 9px;
        width: 100%;
      }
    }

    &--emotions {
      padding: 20px 58px 35px;

      .form__comment {
        color: #283645;
        min-height: 128px;
      }
    }
  }

  .form__footer {
    padding: 67px 0 0;
    width: 100%;

    .form__warning-full {
      display: inline-block;
    }
  }
}
