.intro {
  color: #ffffff;
  background: $header-color url("../../img/bg-back-mobile@1x.jpg") no-repeat center top;

  h1 {
    @include main-text(24px, auto, 300);
  }
}

.intro__wrapper {
  padding: 25px 20px 35px;
}
