@import "../global/variables";
@import "../global/mixins";

.main-footer {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 40px;
  line-height: 1.2;

  &--index {
    display: none;
  }
}

.main-footer__logo-icon {
  cursor: pointer;
  transition: fill 0.3s;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
    transition-duration: 0s;
  }

  &--desktop {
    display: none;
  }
}

.main-footer__refinement {
  margin: 32px 0 0 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 142px;
}

.main-footer__refinement-icon {
  fill: #d22856;
  transition: fill 0.3s;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
    transition-duration: 0s;
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
  }

  .main-footer__logo {
    padding: 0 0 10px 0;
  }

  .main-footer__refinement {
    margin: 0 0 0 92px;
    padding: 0;
    align-items: flex-end;
    width: 130px;
  }
}

//Деск

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 66px 10px;
    justify-content: space-between;
  }

  .main-footer__logo-icon {
    display: none;

    &--desktop {
      display: block;
    }
  }

  .main-footer__refinement {
    margin: 0;
    padding: 0;
    width: 156px;
  }

  .main-footer__caption {
    font-size: 18px;
    line-height: 1;
  }
}
