.main-header {
  background-color: $color-header;

  @include outlineTemp;
}

.main-header__top-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  min-height: 65px; /*временно*/

  @include outlineTemp;
}

.main-header__logo-image {
  min-height: 22px; /*временно*/

  @include outlineTemp;
}

.main-header__button-menu {
  width: 50px;
  height: 25px;

  @include outlineTemp;
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
    min-height: 110px;
  }

  .main-header__button-menu {
    display: none;
  }
}
