@import "../global/variables";
@import "../global/mixins";

.main-header {
  position: relative;
  margin-bottom: -$height-topNavMob;
  z-index: 3;
  background-color: #283645;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;

    .main-header__button-menu {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 50px;
        height: 4px;
        background-color: #ffffff;
        box-shadow: 0 -10px 0 0 #ffffff, 0 10px 0 0 #ffffff, 0 -9px 0 -2px #4b4f52, 0 9px 0 -2px #4b4f52;
        transform: none;
      }

      &::after {
        top: 0;
        right: 5px;
        transform: rotate(0deg);
      }

      &:hover {
        &::before {
          background-color: #d22856;
          box-shadow: 0 -10px 0 0 #d22856, 0 10px 0 0 #d22856, 0 -9px 0 -2px #4b4f52, 0 9px 0 -2px #4b4f52;
        }

        &::after {
          background-color: #d22856;
        }
      }

      &:active {
        &::before {
          background-color: #5e354e;
          box-shadow: 0 -10px 0 0 #5e354e, 0 10px 0 0 #5e354e, 0 -9px 0 -2px #4b4f52, 0 9px 0 -2px #4b4f52;
        }

        &::after {
          background-color: #5e354e;
        }
      }
    }
  }

  &--nojs {
    .main-header__button-menu {
      display: none;
    }
  }
}

.main-header__logo-icon {
  cursor: pointer;
  fill: #ffffff;
  transition: fill 0.3s;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
    transition-duration: 0s;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-header__top-nav {
  @include container;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.main-header__button-menu {
  margin: 0;
  padding: 0;
  position: relative;
  width: 70px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -5px;
    width: 32px;
    height: 4px;
    background-color: #ffffff;
    transition-duration: 0.3s;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: #d22856;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: #5e354e;
      transition-duration: 0s;
    }
  }
}

//Таблетка

@media (min-width: $tablet-width) {
  .main-header {
    margin-bottom: -$height-topNavTab;
  }

  .main-header__logo-icon {
    &--tablet {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  .main-header__top-nav {
    align-items: center;
    padding: 28px 20px 41px;
  }

  .main-header__button-menu {
    margin-top: 12px;
  }
}

//Деск

@media (min-width: $desktop-width) {
  .main-header {
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-header__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    width: 960px;
  }

  .main-header__logo-icon {
    &--desktop {
      display: block;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .main-header__button-menu {
    display: none;
  }

  .main-header__top-nav {
    margin: 0;
    padding: 28px 20px 41px 0;
    width: auto;
    background-color: transparent;
    border: none;
  }
}
