@import "../global/variables";
@import "../global/mixins";

.main-nav {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  &--closed {
    display: none;
  }
}

.main-nav__list {
  @include listStyle;
}

.main-nav__item-link {
  padding: 16px 0;
  display: block;
  text-align: center;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: $desktop-width) {
  .main-header__top-nav {
    padding: 0;
  }

  .main-nav {
    padding: 30px 0;
    line-height: 1;
    font-weight: normal;
    text-transform: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    flex-grow: 1;
    justify-content: space-between;
  }

  .main-nav__item-link {
    background-color: transparent;
    border: none;
  }

}
