.prices {
  padding: 0 20px 45px;
  line-height: 2.1;
  text-transform: uppercase;
  background-color: #f2f2f2;

  @include outlineTemp;
}

.prices__item {
  @include outlineTemp;
  display: none;
  &--current {
    display: block;
  }
}

.prices__header {
  background-color: #283645;
}

.prices__title {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
  color: #ffffff;
}

.prices__hit {
  color: #ffffff;
}

.prices__cost {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .prices {
    padding: 70px 20px;
  }

  .prices__wrapper {
    display: flex;
  }

  .prices__item {
    display: block;
    width: 33.33%;
  }
}

@media (min-width: $desktop-width){
  .prices {
    padding: 100px 120px;
  }
}
