@import "../global/variables";
@import "../global/mixins";

.reviews {
  @include container;
  padding: 40px 20px;
  line-height: 2.1;
  background-color: #ffffff;
}

.reviews__item {
  margin: 0;
  text-align: center;
}

.reviews__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  font-style: normal;
}

.reviews__profession {
  display: none;
}

//Таблетка

@media (min-width: $tablet-width) {
  .reviews {
    padding: 40px 20px 20px;
  }

  .reviews__item {
    &--current {
      flex-direction: column-reverse;
    }
  }

  .reviews__username-wrapper {
    margin: 21px 0 0 0;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 1.5;
  }

  .reviews__description {
    font-size: 18px;
    line-height: 1.6;
  }

  .reviews__profession {
    margin: 0;
    display: inherit;
    line-height: 2.1;
  }
}

//Деск

@media (min-width: $desktop-width) {
  .reviews {
    padding: 172px 0 48px;
    background: #ffffff url("../img/icon-quotes.svg") no-repeat center 75px;
    background-size: 80px 64px;
  }

  .reviews__wrapper {
    width: 100%;
    padding: 0 68px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
  }

  .reviews__profession {
    font-size: 18px;
    line-height: 1.6;
  }
}
