@import "../global/variables";
@import "../global/mixins";

.reviews {
  padding: 40px 20px;
  line-height: 2.1;
  background-color: #ffffff;
}

.reviews__item {
  margin: 0;
  display: none;
  text-align: center;

  &--current {
    display: block;
  }
}

.reviews__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  font-style: normal;
}

.reviews__profession {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 40px 20px 20px;
  }

  .reviews__item {
    &--current {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .reviews__username-wrapper {
    margin: 21px 0 0 0;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 1.5;
  }

  .reviews__description {
    font-size: 18px;
    line-height: 1.6;
  }

  .reviews__profession {
    margin: 0;
    display: inherit;
    line-height: 2.1;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 172px 218px 48px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .reviews__profession {
    font-size: 18px;
    line-height: 1.6;
  }
}
