@import "../global/variables";
@import "../global/mixins";

.slider {
  &--overflow {
    width: 320px;
    overflow: hidden;
  }
}

.slider__control {
  margin: 38px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.slider__toggle {
  margin: 0;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: none;
  border-radius: 50%;

  &--current {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 3px solid #283645;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    &--overflow {
      width: 620px;
      overflow: inherit;
    }

    .slider__control {
      &--prices {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__control {
    &--reviews {
      display: none;
    }
  }
}
