@import "../global/variables";
@import "../global/mixins";

.upload {
  padding: 10px 0 40px;
  line-height: 2.1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .upload {
    padding: 48px 0 0;
  }

  .upload_caption {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    padding: 7px 130px 31px;
  }
}
